
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
<h1>Universal API</h1>
<% url = (polymorphic_url :ring) %>
get or post to <%=link_to url,url, target: '_blank' %><br />
</div>

<div class="jumbotron" id="example">
<h1>Welcome</h1>
<%=link_to 'Create API', controller:'api_list', action:'create' %>
</div>
