
<!-- <a href="<%=url_for controller:'api_list', action:'create' %>" class="btn btn-default" >Create Request</a> -->
<a href="<%=url_for controller:'api_list', action:'create' %>" class="btn btn-default" >Create Response</a>


<div id="ListView" style="margin-top:50px;">
</div>

<script type="text/javascript">
var root_url = "<%=root_url%>";
var array = []
array.push({
	header: true,
	labels:['Name', 'URL', 'Action']
})
<% @datas.each do |data| %>
	array.push(<%=data.to_json.html_safe%>)
<% end %>

React.render(
	React.createElement(ApiListTableView, {
		datas : array
	}),
	document.getElementById('ListView') );
</script>