// Place all the styles related to the api_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.json_object{
	// border:1px #CCC solid;
	padding:3px 5px;
	border-radius : 5px;
	margin : 3px 0px 3px 5px;
}
.json_array{
	
}
.json_raw{
	color:#009;
	cursor:pointer;
}