<%
emsg = flash[:emsg]
emsg = flash[:error] unless emsg.present?
if emsg.present? then %>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <%=emsg%>
</div>
<% end %>