<%

def current_controller?(c)
  controller.controller_name.to_s == c.to_s
end

def makeMenu(json)
  %>
  <li <%='class="active"'.html_safe if current_controller?(json[:controller])%> >
    <a href="<%=url_for :controller=>json[:controller] %>" ><%=json[:name]%></a>
  </li>
  <%
end

%><nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%=request.base_url%>">Volcanic</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <% makeMenu :controller=>:home, :name=>'Home' %>
      <% makeMenu :controller=>:api_list, :name=>'API List' %>
      <% makeMenu :controller=>:log, :name=>'Log' %>
      <!-- <li><a href="#">Contact</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li> -->
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>